<template>
  <h3>Latest Releases</h3>

  <ul>
    <li v-for="release in releases" :key="release.id">
      <NuxtLink :to="`/distro/${release.name}`">{{ release.name }} {{ release.version }}</NuxtLink><br />
      <ClientOnly><em>{{ displayDate(release.epoch) }}</em></ClientOnly>&nbsp;
    </li>
  </ul>

  <p>
    <NuxtLink to="/page2">Page 2</NuxtLink>
  </p>
</template>

<script setup>
import dayjs from 'dayjs';

function displayDate(epoch) {
  return dayjs.unix(epoch).format('D MMM YYYY, HH:mm');
}

const runtimeConfig = useRuntimeConfig();
const { data: releases } = await useFetch(`${runtimeConfig.public.apiBase}/releases`);
</script>

<style lang="scss" scoped>
em {
  color: #888;
}
</style>