<template>
  <div class="page">
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>

<script setup>
useHead({
  title: 'PerlModules.net',
});
</script>

<style lang="scss">
body {
  margin: 0;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: #66f;
  }
}

.clickable {
  cursor: pointer;
}
</style>