<template>
  <div class="page">
    <header>
      <div class="container">
        <h1 class="clickable" @click="$router.push('/')">PerlModules.net</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <slot />
      </div>
    </main>

    <footer>
      <div class="container">
        &copy; KarelCom 2022-now
      </div>
    </footer>
  </div>
</template>

<style lang="scss" scoped>
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background-color: blue;
  color: white;
}

main {
  flex-grow: 1;
}

footer {
  background-color: grey;
  color: white;
}
</style>
