<template>
  <h3>{{ route.params.distroName }}</h3>
  <template v-for="rel in rels" :key="rel.name">
    <div class="item-header">
      <h4>{{ rel.name }}</h4>
      <ClientOnly>{{ displayDate(rel.epoch) }}</ClientOnly>
    </div>
    <div class="box" v-html="rel.diff" />
  </template>
</template>

<script setup>
import dayjs from 'dayjs';

function displayDate(epoch) {
  return dayjs.unix(epoch).format('D MMM YYYY, HH:mm');
}

const runtimeConfig = useRuntimeConfig();
const route = useRoute();
const { data: rels } = await useFetch(`${runtimeConfig.public.apiBase}/distro/${route.params.distroName}/feed`);
</script>

<style lang="scss" scoped>
.box {
  border: 2px solid black;
  margin-top: 7px;
  margin-bottom: 20px;
  padding: 3px 8px;
  border-radius: 8px;
  background-color: #eee;
  box-shadow: 3px 10px 10px #aaa;
}

.item-header {
  display: flex;
  h4 {
    margin: 0;
  }
  justify-content: space-between;
}
</style>